<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909232899319-knk1o0cgbedkl3gdpc84kh4h6p3n7orf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909232899319-knk1o0cgbedkl3gdpc84kh4h6p3n7orf</string>
	<key>API_KEY</key>
	<string>AIzaSyCbFO4pn5p0fBhNWv4FcO3H0zerM6q6K4c</string>
	<key>GCM_SENDER_ID</key>
	<string>909232899319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lumatapps.stamps-va</string>
	<key>PROJECT_ID</key>
	<string>airport-stamps-va</string>
	<key>STORAGE_BUCKET</key>
	<string>airport-stamps-va.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909232899319:ios:a181cbc7b31933d0bffff2</string>
</dict>
</plist>